<!-- MVC 디자인 분류 중 V(Views) -->
<!-- 루트 페이지 -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>루트</title>
</head>
<body>
    <h1>여기는 루트입니다</h1>
</body>
</html>