<!-- MVC 디자인 분류 중 V(Views) -->
<!-- 회원가입 페이지 -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/home/register.js" defer></script>
    <title>회원가입</title>
</head>
<body>
    <h1>회원가입</h1>
    <input type="text" placeholder="ID" id="id"><br>
    <input type="text" placeholder="PW" id="pw"><br>
    <button>회원가입</button>
</body>
</html>