<!-- MVC 디자인 분류 중 V(Views) -->
<!-- 회원가입 페이지 -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home/login.css">
    <script src="/js/home/register.js" defer></script>
    <title>회원가입</title>
</head>
<body>
    <!-- <div class="register-page"> -->
        <div class="form">
            <form class="register-form">
                <input type="text" placeholder="name"/>
                <input type="password" placeholder="password"/>
                <input type="text" placeholder="email address"/>
                <button>create</button>
                <p class="message">Already registered? <a href="#">Sign In</a></p>
            </form>
        </div>
    <!-- </div> -->
</body>
</html>